<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="azureSqlConnectionString" connectionString="Data Source=n2t3fk1amv.database.windows.net;Initial Catalog=trainsmonitorDb;Integrated Security=False;User ID=valodzya;Password=123456qwe!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
</configuration>